@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/*
  Original "Microsoft Edge style square tabs" theme
*/
#TabsToolbar {
  /*background: rgba(242,242,242,100) !important;*/
  background: transparent !important;
  border-style: solid !important;
  border-left-width: 0px !important;
  border-left-color: rgba(212,212,212,100) !important;
  border-right-width: 0px !important;
  border-right-color: rgba(212,212,212,100) !important;
  border-bottom-width: 0px !important;
  /*-width: 0px !important;*/
  border-left-color: rgba(212,212,212,100) !important;
  border-right-color: rgba(212,212,212,100) !important;
  border-top-color: transparent !important;
}

#main-window:not([privatebrowsingmode="true"])[sizemode="normal"] #TabsToolbar {   
  margin-left: 1px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: -1px !important;
}

#main-window:not([privatebrowsingmode="true"])[sizemode="maximized"] #TabsToolbar {  
  margin-right: 0px !important;
  margin-left: 1px !important;
  margin-top: 0px !important;
  margin-bottom: -1px !important;
}

#main-window:not([privatebrowsingmode="true"])[sizemode="fullscreen"] #TabsToolbar {
  margin-right: -53px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: -1px !important;}

#TabsToolbar .arrowscrollbox-scrollbox {
  padding: 0px !important;
}

#TabsToolbar .tabbrowser-tabs {
  min-height: 32px !important;
  margin-top: -1px !important;
  margin-bottom: 0px !important;
  margin-left:-2px !important;
  margin-right:-2px !important;
}

/*.tabbrowser-tab .tab-text {text-align: center;}*/

#TabsToolbar .tabbrowser-tab {
  -moz-border-top-colors: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  border-style: none !important;
  border-color: rgba(150,150,150,100) !important;
  border-width: 0px 1px 0px 1px !important;
  padding: 0px 0px !important;
  background: transparent !important;
  background-clip: padding-box !important;
  transition: all 0.2s !important;
  margin-left: -1px !important;
}


#TabsToolbar .tabs-newtab-button {
  -moz-border-top-colors: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-bottom-colors: none !important;
  border-style: solid !important;
  border-color: transparent !important;
  background: rgba(255,255,255,.0) !important;
  background-clip: padding-box !important;
  transition: all .11s !important;
  opacity: .3 !important;
}

.scrollbutton-up[disabled="true"] {
  border-style: solid !important;
  border-right-width: 1px !important; 
  border-right-color: rgba(218,218,218,100) !important;
  margin-left:-1px !important;
  margin-right:-1px !important;
}

#TabsToolbar tab:not([selected="true"] ) {
  color: rgba(0,0,0,.6) !important;
}

#TabsToolbar .tabbrowser-tab[selected] {
  color: rgba(0,0,0,1) !important;
  background: rgba(242,242,242,100) !important;
  background-clip: padding-box !important;
  border-color: rgba(242,242,242,100) !important;
  border-top-color: transparent !important;
  border-bottom-color: rgba(224,224,224,100) !important;
}


#TabsToolbar .tabs-newtab-button:hover:not([selected]) {
  border-color: rgba(130,130,130,.0) !important;
}

#TabsToolbar .tabbrowser-tab:hover:not([selected]) {
  border-color: rgba(232,232,232,100) !important;
  border-top-color: rgba(236,236,236,100) !important;
  background-color: rgba(232,232,232,100) !important;
  color: rgba(0,0,0,1) !important;
}

#TabsToolbar .tab-background {
  margin: 0 !important;
  background: transparent !important;
}

#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end {
  display: none !important;
}

#TabsToolbar .tab-background-middle {
  margin: -4px -2px !important;
  background: transparent !important;
}

#TabsToolbar .tabs-newtab-button {
  border-width: 0px 0px 0px 0px !important;
  margin: 0px !important;
  width: auto !important;
  padding: 0px 8px !important;
}

#urlbar {
  height: 24px !important;
}

#nav-bar {
	background: rgba(242,242,242,100) !important;
	margin-top: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	padding: 3px 0 !important;
	border-radius: 0px 0px 0px 0px !important;
	border-top: 0px #282B34!important;
	box-shadow: none !important;
}

#main-window:not([privatebrowsingmode="false"])[sizemode="normal"] #TabsToolbar {   
  margin-left: 1px !important;
  margin-right: 1px !important;
  margin-top: 0px !important;
  margin-bottom: -1px !important;
}

#main-window:not([privatebrowsingmode="false"])[sizemode="maximized"] #TabsToolbar {  
  margin-right: 1px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: -1px !important;
}

#main-window:not([privatebrowsingmode="false"])[sizemode="fullscreen"] #TabsToolbar {
  margin-right: -53px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: -1px !important;
}

/*
  My modifications
*/

/* Bookmarks toolbar, with the same colour of the selected tab */
#PersonalToolbar {
  color: rgba(0,0,0,1) !important;
  background: rgba(242,242,242,100) !important;
  background-clip: padding-box !important;
  border-color: rgba(242,242,242,100) !important;
  border-top-color: transparent !important;
  border-bottom-color: rgba(224,224,224,100) !important;
}